header{
    color: white;
    text-align: center;
    background-color: black;
    position: fixed;  
    width:100vw;
    height: 20px;
}
    #sidebar{
    color: white;
    background-color: gray;
    position: absolute;
    height: 100%;
    margin-top: 20px;
   
}
section{
    margin-top: 100px;
    margin-left: 120px;
    left:50px;
}
.sticky{
    position: sticky;
    top: 50px;
    background-color: black;
    color: white;
    height: 100%;
    width: 150px;
    border: 1px;color: bisque;
    padding: 10px;
    left: 150px;
}